@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
}

html {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  /* margin: auto;
  width: 60%; */
  text-align: center;
  background-color: #121212;
  color: white;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

#tagline {
  font-size: 4rem;
  font-weight: 800;
  color: rgb(128, 48, 175);
}

#desc {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 2%;
}

form {
  margin-top: 2%;
}

input, button {
  border: 3px solid #28d671;
  background-color: #28d671;
  font-size: 1.5rem;
}

input {
  border-right: none;
  width: 20%;
  height: 100%;
  background-color: transparent;
  color: white;
  border-radius: 5px 0px 0px 5px;
}

button {
  height: 100%;
  border-radius: 0px 5px 5px 0px;
}

button:hover {
  cursor: pointer;
}

#result {
  margin-top: 1%;
  color: white;
  display: none;
}

table {
  display: inline-block;
  font-size: 1.5rem;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

a, a:hover, a:visited {
  color: #28d671;
}

button:hover {
  background-color: #3de482;
}